.particles-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 0.3;
}

.dark-mode .particles-background {
  opacity: 0.2;
}

@media (max-width: 768px) {
  .particles-background {
    opacity: 0.2;
  }

  .dark-mode .particles-background {
    opacity: 0.15;
  }
}


